/repos/*/
/extracted_commits/*
/annotated_changes/*
.idea
__pycache__
/test
**/logs
/LExecutor
iids.json
**/generated
**/data
LExecutorCC/data/*
!LExecutorCC/data/released_models
LExecutorCC/data/released_models/*
!LExecutorCC/data/released_models/new_model_coarse-grained.bin
**/lexecutor.egg-info
**/.secret
/evaluation/python_idiomatic_transformation/func_files
/evaluation/python_idiomatic_transformation/RefactoringIdiomsOutputdir
/evaluation/complexity
/evaluation/accuracy
**/.vscode